@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Akira;
  src: url("../fonts/Akira.otf") format("opentype");
}

@font-face {
  font-family: Helvetica;
  src: url("../fonts/Helvetica.ttf") format("truetype");
}

// @font-face {
//   font-family: Helvetica;
//   src: url("fonts/Aventi.ttf") format(".ttf");
// }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Akira", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

p {
  font-family: "Helvetica", sans-serif;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animation {
  animation: slide 5s linear infinite;
}

.animation-wrapper:hover .animation {
  animation-play-state: paused;
}

.container {
  display: flex;
  padding: 8px 16px;
  flex-direction: column;
  width: auto;
  border-radius: 999px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  fill-opacity: 0.2;
  backdrop-filter: blur(25px);
}

// @keyframes go-up {
//   from {
//     transform: width(0);
//     overflow: hidden;
//   }
//   to {
//     transform: width(auto);
//     overflow: visible;
//   }
// }

// .go-up {
//   animation: go-up 5s linear infinite;
// }
